body {
  background: #f2f9f1;
}

h3 {
  background-color: #b6cdbd;
  font-family: Delicious Handrawn;
  text-align: center;
  /* font-size: 80px; */
}

.tasks-table {
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  width: 80%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.task {
  display: flex;
  gap: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
  border-width: 50%;
  justify-content: center;
  align-items: center;
}

.task-title {
  font-weight: bold;
  width: 30%;
}

.task-category {
  /* padding-top: 9px; */
  border-left: 1px grey solid;
  padding-left: 5px;
  width: 30%;
}

.task-notes {
  border-left: 1px grey solid;
  padding-left: 5px;
  width: 40%;
}

.buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.buttons a {
  text-decoration: none;
}

.button {
  /* margin: auto; */
  margin-top: 40px;
  padding: 20px;
  width: fit-content;
  color: #2c786c;
  padding: 10px 30px;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
  border: 1px solid #ddeedf;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.button:hover {
  background-color: #ddeedf;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.delete-card {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* min-width: 100vh; */
  background-color: #00000050;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0, 5s ease;
}

.delete-task-card {
  position: relative;
  width: 60%;
  height: auto;
  padding: 50px;
  align-items: center;
  border: #2c786c 1px solid;
  margin: 0 auto;
  margin-top: 200px;
  background-color: #ffffff;
}

.delete-task-card .button {
  margin: 0 auto;
}

.delete-task-card .close-button {
  position: absolute;
  font-weight: bolder;
  font-size: 30px;
  cursor: pointer;
  top: 0;
  right: 10px;
}
